@model IEnumerable<MPSIGestionSoftSony.Models.utilisateur>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<link href="https://fonts.googleapis.com/css?family=Playball" rel="stylesheet">
<script src="~/template/js/SweetAlert.js"></script>

@if (TempData["updated"] != null)
{
    <script>
        swal("Good job!", "Utilisateur modifier!", "success");
    </script>

}
@if (TempData["created"] != null)
{
    <script>
        swal("Good job!", "Utilisateur Ajouter!", "success");
    </script>

}

<h2 class="align-center" style="font-family: 'Playball', cursive;">Listes des utilisateurs</h2>
<div class="input-group"></div>

<a href="@Url.Action("Create","Utilisateurs")" class="btn bg-blue waves-effect m-b-15"><i class="fa fa-plus"></i> Add New User</a>

<div class="card">
    <div class="body">
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover dataTable js-exportable" id="table">

                <thead>
                    <tr>
                        <th>
                            User
                        </th>
                        <th>
                            Role
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.User)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Role)
                            </td>
                            <td>
                                <a class='btn' href='@Url.Action("Edit","Utilisateurs",new {id= item.Id})'><i class='material-icons'>create</i></a>
                                @{ var id = Json.Encode(item.Id);}
                                <a class='btn' onclick='Delete(@id)'><i class='material-icons'>delete</i></a>
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th>
                            User
                        </th>

                        <th>
                            Role
                        </th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/template/js/js dropdownlist/jquery-ui-1.11.0.js"></script>
    <script src="~/template/js/js dropdownlist/jquery1.9.1.js"></script>
    <script src="~/template/js/dataTable/jquery-datatable-min.js"></script>
    <script src="~/template/js/dataTable/datatable-bootstrap-min.js"></script>
    <script src="~/template/js/dataTable/datatable-buttons-min.js"></script>
    <script src="~/template/js/dataTable/jszip-min.js"></script>
    <script src="~/template/js/dataTable/pdfmake.js"></script>
    <script src="~/template/js/dataTable/vfsfont.js"></script>
    <script src="~/template/js/dataTable/button-html5-min.js"></script>
    <script src="~/template/js/dataTable/button-print.js"></script>
    <script>
        $(document).ready(function () {
            // loadData();

            $('#table').DataTable({
                //"serverSide": true,
                //"data": data,
                "language": {
                    "emptyTable": "Pas d'utilisateur disponible",
                    "infoEmpty": "Vide",
                    "zeroRecords": "Not found",
                    "info": "Affichage de l'element _START_ sur _END_ des _TOTAL_ elements",
                    "search": "Recherche:",
                    "paginate": {
                        "first": "First",
                        "last": "Last",
                        "next": "Suivant",
                        "previous": "Précident"
                    },
                },
                //dom: "Bfrtip",
                ////"scrollY": 500,
                ////"scrollX": true,

                //"buttons": [
                //    "copy", "excel", "pdf"
                //]

            });



        });
        //
        function Delete(id) {
            //if (confirm('Are You Sure to Delete this Employee Record ?')) {
            swal({
                title: "Are you sure?",
                text: "Once deleted, you will not be able to recover this User!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {

                        $.ajax({
                            type: "POST",
                            url: "/Utilisateurs/Delete/" + id

                        });
                        swal("Poof! User has been deleted!", {
                            icon: "success",

                        }).then(function () {
                            location.reload();
                        });
                        //location.reload();
                    } else {
                        swal("User is safe!");
                    }
                });
        }
    </script>
}